* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-neve: "Bebas Neue", sans-serif;
  --font-mon: "Montserrat", sans-serif;
  --size-sm: 16px;
  --size-md: 24px;
  --size-lg: 36px;
  --size-xl: 48px;
  --size-2xl: 92px;
  --primary: #fffbf0;
  --secondary: #363958;
  --accent: #fabe4c;
  --text: #3e3e3e;
  --btn-1: #a4bc46;
  --btn-2: #85a019;
  --bg: #f1f1f1;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: var(--font-roboto);
  font-size: var(--size-sm);
  background-color: var(--white);
  color: var(--text);
}

.dots {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 33vw;
  top: -89px;
  background: radial-gradient(circle, #ffe2aa 1px, transparent 2px);
  background-size: 15px 15px;
  background-repeat: repeat;
  z-index: 100;
}

.header-section {
  background-color: var(--primary);
  width: 100vw;
  padding-left: calc((100vw - 1168px) / 2);
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: var(--primary);
  width: 100vw;
  max-width: 1168px;
  padding-top: 35px;
}

header .logo {
  width: 250px;
  display: flex;
  gap: 10px;
  font-family: var(--font-mon);
  font-size: 25px;
  font-weight: bold;
}

header img {
  width: 56px;
  height: 40px;
}

header p {
  padding-top: 5px;
  color: var(--secondary);
}

header span {
  color: var(--btn-1);
}

header .menu-label {
  display: none;
}

header menu {
  display: none;
}

header .menu-content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 57px;
  padding-top: 8px;
  padding-left: 80px;
}

header .menu-content li {
  text-decoration: none;
  list-style: none;
  text-align: right;
  justify-content: center;
  width: 78px;
  font-weight: 500;
}

.hero-section {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 1.25fr;
  background-color: var(--primary);
  width: 100vw;
  max-width: 1040px;
  padding-top: 64px;
  padding-bottom: 100px;
}

.hero-text {
  display: grid;
  grid-template-rows: 2.5fr 1fr 1fr;
  grid-template-columns: 1;
  gap: 4px;
  height: 400px;
  padding-top: 64px;
}

.hero-text h1 {
  font-family: var(--font-neve);
  font-size: var(--size-2xl);
  font-weight: 400;
  line-height: auto;
  text-transform: uppercase;
  color: var(--secondary);
}

.hero-text h1 span {
  color: var(--accent);
}

.hero-text p {
  width: 520px;
  padding-left: 2px;
}

button {
  display: flex;
  flex-direction: row;
  background: linear-gradient(var(--btn-1), var(--btn-2));
  color: var(--white);
  width: 170px;
  height: 60px;
  border: none;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 33px;
}

button img {
  width: 24px;
  aspect-ratio: 1/1;
}

button p {
  font-size: var(--size-sm);
  font-weight: 500;
  align-items: center;
}

.hero-section > img {
  width: 464px;
  aspect-ratio: 1/1;
  justify-self: end;
}

.product-section {
  width: 100vw;
  max-width: 1168px;
  height: max-content;
  margin-left: calc((100vw - 1168px) / 2);
  margin-top: 49px;
  margin-bottom: 99px;
}

.product-section > h1 {
  color: var(--secondary);
  font-family: var(--font-neve);
  font-size: var(--size-xl);
  font-weight: 400;
  padding-bottom: 21px;
}

.product-section .product-grid {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.product-grid .product-card {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 370px;
  height: 550px;
  border: 0.25px solid var(--bg);
  border-radius: 20px;
  padding: 18px;
  padding-bottom: 12px;
  box-shadow: 0px 5px 5px var(--bg);
}

.product-card .card-img {
  width: 334px;
  height: 327px;
  background-color: var(--bg);
  padding: 22px 21px 12px 20px;
  border-radius: 20px;
}

.card-img img {
  width: 100%;
  height: 100%;
}

.product-content {
  padding: 17px 0px 0px 4px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.product-content h1 {
  color: var(--secondary);
  font-size: var(--size-md);
  font-weight: bold;
}

.product-content .bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-bar span {
  font-family: var(--font-roboto);
  font-size: var(--size-lg);
  color: var(--accent);
  font-weight: 900;
  padding-top: 8px;
}

.features-section {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  max-width: 1168px;
  padding-top: 31px;
  margin-left: calc((100vw - 1168px) / 2);
  margin-bottom: 200px;
}

.features-section .features-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 16px;
}

.features-content .features-card {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 489px;
  height: 135px;
  padding: 20px 76px 27px 27px;
  border: 0.25px solid var(--bg);
  border-radius: 20px;
  box-shadow: 0px 5px 5px var(--bg);
}

.features-card > img {
  width: 84px;
  aspect-ratio: 1/1;
}

.features-card .features-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.features-details h1 {
  font-size: var(--size-md);
  color: var(--secondary);
}

.features-section > img {
  width: 600px;
  height: 350px;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 1200px) {
  .dots {
    display: none;
  }

  header {
    width: 90vw;
    padding: 32px;
    padding-inline: 5vw;
  }

  header .logo {
    font-size: var(--size-md);
  }

  header img {
    width: 42px;
    height: 30px;
  }

  header p {
    padding-top: 2px;
  }

  header .menu-label {
    display: block;
  }

  header menu {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-top: 10px;
  }

  header menu p {
    position: relative;
    width: 20px;
    height: 0px;
    border-radius: 10px;
    background-color: var(--secondary);
    z-index: 100;
  }

  header menu p::before,
  header menu p::after {
    content: "";
    position: absolute;
    width: 120%;
    height: 100%;
    right: 0;
    border-radius: 10px;
    background-color: var(--secondary);
  }

  header menu p::before {
    top: -8px;
  }

  header menu p::after {
    bottom: -8px;
  }

  header .menu-content {
    display: none;
    position: absolute;
    top: 64px;
    right: 0px;
    width: 100vw;
    height: max-content;
    padding-block: 16px;
    background-color: var(--primary);
    box-shadow: 0px 8px 16px var(--bg);
    font-weight: 500;
  }

  #menu-toggle:checked ~ .menu-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  .hero-section {
    gap: 4px;
    width: 90vw;
    padding: 32px;
    padding-inline: 5vw;
  }

  .hero-text {
    height: max-content;
    gap: 2px;
    padding: 0;
    padding-top: 8px;
  }

  .hero-text h1 {
    font-size: 60px;
    max-width: 280px;
    height: max-content;
  }

  .hero-text p {
    width: 100vw;
    max-width: 320px;
  }

  .hero-section > img {
    width: 40vw;
    max-width: 300px;
    aspect-ratio: 1/1;
    margin-inline: auto;
  }

  .product-section {
    padding-inline: 1px;
    margin-inline: auto;
    margin-block: 36px;
    text-align: center;
  }

  .product-section > h1 {
    font-size: var(--size-lg);
    padding-left: 2px;
  }

  .product-section .product-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .product-grid .product-card {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 98vw;
    max-width: 600px;
    height: 380px;
    padding: auto;
    margin-inline: auto;
  }

  .product-card .product-content {
    margin-block: auto;
  }

  .product-content .bottom-bar {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .bottom-bar span {
    font-size: var(--size-lg);
    padding-top: 12px;
  }

  .features-section {
    display: grid;
    grid-template-rows: 0.5fr 1.25fr;
    grid-template-columns: 1fr;
    width: 100vw;
    gap: 24px;
    padding: 2px;
    padding-inline: 5vw;
    margin-inline: 0;
  }

  .features-section .features-content {
    grid-area: 2/1;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    align-items: center;
  }

  .features-content .features-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 60vw;
    height: 200px;
    padding: 8px 16px;
    justify-items: center;
    align-items: center;
  }

  .features-card > img {
    width: 75px;
    height: 75px;
  }

  .features-card .features-details {
    text-align: center;
  }

  .features-section > img {
    grid-area: 1/1;
    width: 60vw;
    height: 30vw;
    align-self: center;
    justify-self: center;
    padding-top: 48px;
  }
}

@media screen and (max-width: 670px) {
  .dots {
    display: none;
  }

  header {
    width: 100vw;
    padding-top: 28px;
    padding-inline: 16px;
  }

  header .logo {
    width: 180px;
    gap: 7px;
    font-size: var(--size-sm);
  }

  header img {
    width: 37px;
    height: 26px;
  }

  header p {
    padding-top: 4px;
  }

  header .menu-content {
    top: 48px;
  }

  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 28px;
    width: 100vw;
    padding: 16px 17px;
  }

  .hero-text {
    text-align: left;
    justify-items: left;
  }

  .hero-text h1 {
    font-size: 60px;
    font-weight: 400;
  }

  .hero-section > img {
    width: 80vw;
    aspect-ratio: 1/1;
    margin-inline: auto;
  }

  .product-section {
    width: 100vw;
    padding: 0;
    padding-bottom: 44px;
    margin: 0;
  }

  .product-section > h1 {
    padding: 50px 2px 29px 2px;
  }

  .product-section .product-grid {
    gap: 24px;
    justify-content: center;
  }

  .product-grid .product-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 343px;
    height: 550px;
  }

  .product-card .card-img {
    width: 304px;
    height: 327px;
  }

  .product-card .product-content {
    text-align: left;
  }

  .product-content h1 {
    font-size: var(--size-md);
    padding: 0;
  }

  .product-content span {
    padding-top: 4px;
    padding-left: 0;
  }

  .product-content .bottom-bar {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding-block: 4px;
  }

  .features-content .features-card {
    width: 90vw;
  }

  .features-card .features-details {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 8px;
  }

  .features-section > img {
    grid-area: 1/1;
    width: 90vw;
    height: 50vw;
  }
}
